
@font-face {
  font-family: "NAMU";
  src: local("Merienda"),
   url(../fonts/NAMU/NAMU-1990.ttf) format("truetype");
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {outline : none;}
img {border : 0;}
a img {outline : none;}
*:active, *:focus {
 outline: none!important;
}

body { 
	font-family: 'NAMU', 'Source Sans Pro', sans-serif; 
}

.wrapper,
.popup-wrapper {
	position: relative;
	background-color: #000;
	height: 100vh;
	padding: 4% 6% 4%;
	width: 100vw;
}

.popup-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup-wrapper.grey {
	background-color: #ACACAC;
}

.popup-wrapper.blue {
	background-color: #0062FF;
	color: #fff;
}

.popup-wrapper.blue .checkmark {
	border-color: #fff;
}

.popup-wrapper.blue .checkmark::after {
	background-color: #fff;
}

.popup-wrapper.blue .btn.popup__btn {
	border-color: #fff;
	color: #fff;
}

.popup-wrapper.white {
	background-color: #fff;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 130px;
}

.header__text {
	font-size: 1.5vw;
}

.logo {
	width: 10%;
	max-height: 100%;
	object-fit: contain;
}

.btn {
	display: inline-block;
	padding: 1.5vw 2vw;
	min-width: 19vw;
	border-radius: 200px;
	font-size: 2vw;
	border: none;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	transition: transform 0.1s ease-in-out;
	text-align: center;
}

.btn:hover {
	transform: scale(1.1);
}

.btn.intro__btn {
	background-color: #0062FF;
}

.btn.about__btn,
.btn.rules__btn {
	background-color: transparent;
	border: 2px solid #fff;
}

.btn.popup__btn {
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
	margin: 0 auto;
}
