<template>
	<div class="btn-wrapper">
		<button v-if="!mode" class="btn popup__btn" @click="$emit('close')">Далі</button>
		<router-link
			v-else
			class="btn popup__btn"
			to="/result"
		>
			Дізнатись результат
		</router-link>
	</div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'next-btn',
  props: {
    mode: {
      type: Boolean,
      require: true
    }
  },
  data () {
    return {
      res: this.result
    }
  },
  computed: {
    ...mapState(['quiz']),
    result () {
      let result = []

      const userResponseSkelaton = this.quiz.userResponseSkelaton

      for (let i = 0; i < userResponseSkelaton.length; i++) {
        if (userResponseSkelaton[i] !== null) {
          let isAnswered = userResponseSkelaton[i].some(el => el !== null)

          result.push(isAnswered)
        }
      }

      if (result.length === 6) { // hardcode
        return !result.every(el => el === true)
      } else {
        return true
      }
    }
  }
}
</script>

<style lang="scss">

.btn-wrapper {
	display: flex;
}

</style>
