<template>
	<div class="popup__inner-item">
		<label class="popup__label">{{ this.answerData.answer }}
			<input
        type="checkbox"
        class="popup__option"
        :value="this.answerData.isRight"
        :checked="this.answerData.isChecked"
        @click="onClick()"
      />
			<span class="checkmark"></span>
		</label>
	</div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  props: {
    answerData: {
      type: Object,
      require: true
    },
    answerIndex: {
      type: Number,
      require: true
    },
    answerIsRight: {
      type: Boolean,
      require: true
    },
    questionIndex: {
      type: Number,
      require: true
    }
  },
  methods: {
    ...mapActions(['updateCheckedStatus']),
    onClick () {
      this.updateCheckedStatus({ questionIndex: this.questionIndex, answerIndex: this.answerIndex, answerIsRight: this.answerIsRight })
      setTimeout(() => {
        this.$emit('update')
      }, 100)
    }
  }
}
</script>

<style>
</style>
