<template>
	<div class="quiz__block" v-on:click="$emit('open-popup', question)">
		<p class="quiz__type">{{ question.title }}</p>
		<div class="quiz__block-wrapper">
			<p class="quiz__order">{{ index + 1 }}</p>
			<div class="quiz__btn">
				<img v-if="hasAnswer" src=".././assets/checkmark.svg" alt="checkmark">
				<img v-else src=".././assets/arrow.svg" alt="arrow">
			</div>
		</div>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'quiz-item',
  props: {
    question: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      require: true
    }
  },
  computed: {
    ...mapState(['quiz']),
    hasAnswer () {
      if (this.quiz.userResponseSkelaton[this.index] === null) {
        return false
      } else if (this.quiz.userResponseSkelaton[this.index].every(el => el === null)) {
        return false
      } else {
        return true
      }
    }
  },
  watch: {
    hasAnswer (newValue, oldValue) {
      this.isAnswered = true
    }
  }
}
</script>

<style lang="scss">

.quiz__block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ACACAC;
	padding: 1vw 1vw 1vw 0.5vw;
}

.quiz__block-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.quiz__title {
	color: #fff;
	font-size: 3vw;
}

.quiz__type {
	font-size: 2vw;
	text-align: end;
}

.quiz__order {
	line-height: 15vw;
	font-size: 16vw;
	pointer-events: none;
}

.quiz__btn {
	position: relative;
	right: 3vw;
	bottom: 2vw;
	width: 2.5vw;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&::before {
		content: '';
		position: absolute;
		top: -60%;
		left: -60%;
		width: 150%;
		height: 150%;
		border-radius: 50%;
		border: 10px solid #000;
		padding: 20px;
		display: inline-block;
		line-height: 2rem;
		font-size: 1vw;
		color: white;
		background-color: transparent;
		text-align: center;
	}
}

</style>
