<template>
	<main class="about">
		<div class="about__content">
			<h3 class="about__title">Привіт!</h3>
			<p class="about__text">
Твоє завдання – пройти тест і перевірити, чи достатньо ти знаєш про tech/uklon
			</p>
		</div>
		<router-link to="/rules" class="btn about__btn">
			Далі
		</router-link>
	</main>
</template>

<script>
export default {
  name: 'about-page'
}
</script>

<style>

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	height: 100%;
	padding: 10vh 0 5vh;
}

.about__content {
	text-align: center;
}

.about__title {
	font-size: 3vw;
	margin-bottom: 8vh;
}

.about__text {
	font-size: 3vw;
	width: 70%;
	margin: 0 auto;
}

</style>
