<template>
  <main class="intro">
    <div v-if="this.animation" class="animation">
      <img src="./../assets/animation.gif" alt="We drive!">
    </div>
    <div class="intro__content">
      <h3 class="intro__title">
  Готовий прийняти виклик?
      </h3>
      <router-link to="/about" class="btn intro__btn">Start</router-link>
    </div>
    <div class="intro__img">
      <img src="./../assets/intro-we-drive.png" alt="We drive!">
    </div>
  </main>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'intro',
  data () {
    return {
      nextQuizIndex: 0,
      animation: true
    }
  },
  mounted () {
    const currentQuizIndex = this.$store.getters.quizIndex

    this.$store.dispatch('resetState')

    if (currentQuizIndex) {
      this.nextQuizIndex = 0
      this.$store.dispatch('updateQuizIndex', {nextQuizIndex: this.nextQuizIndex})
    } else {
      this.nextQuizIndex = 1
      this.$store.dispatch('updateQuizIndex', {nextQuizIndex: this.nextQuizIndex})
    }

    setTimeout(() => {
      this.animation = false
    }, 3000)
  },
  computed: {
    currentQuizIndex () {
      const currentQuizIndex = this.$store.getters.quizIndex

      if (currentQuizIndex) {
        return 0
      } else {
        return 1
      }
    }
  },
  methods: {
    ...mapActions(['resetState'])
  }
}
</script>

<style lang="scss">

.intro {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.intro__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-basis: 40%;
	padding: 5% 3% 8%;
}

.intro__title {
	color: #fff;
	font-size: 5vw;
}

.intro__img {
	width: 1px;
	flex-basis: 60%;
}

.intro__img > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 33%;
  }
}
  
</style>
