<template>
  <transition name="popup">
    <div class="popup">
      <div class="popup-wrapper" :class="this.popupData.style">
        <header class="header" name="header">
          <p class="header__text">{{ this.popupData.title }}</p>
        </header>
        <div class="popup__container">
          <div class="popup__title">
            <h3 name="title">{{ this.popupData.question }}</h3>
          </div>
          <div class="popup__inner">
            <PopupInput
              v-for="(answerData, index) of this.popupData.answers"
              :key="answerData[index]"
              :answerData="answerData"
              :questionIndex="questionIndex"
              :answerIndex="index"
              :answerIsRight="answerData.isRight"
              @update="toggleAnswers()"
            />
          </div>
        </div>
        <NextBtn :mode="this.quizCompleted" @close="$emit('close')" />
      </div>
    </div>
  </transition>
</template>

<script>
import PopupInput from '@/components/PopupInput'
import NextBtn from '@/components/NextBtn'

export default {
  name: 'question-popup',
  data () {
    return {
      userAnswers: [],
      quizCompleted: false
    }
  },
  components: {
    PopupInput,
    NextBtn
  },
  mounted () {
    this.$store.dispatch('userQuestionAnswers', {questionIndex: this.questionIndex, userQuestionsAnswersArrLength: this.popupData.answers.length})
  },
  props: {
    popupData: {
      type: Object,
      require: true
    },
    questionIndex: {
      type: Number,
      require: true
    }
  },
  methods: {
    toggleAnswers () {
      const responseSkelaton = this.$store.getters.responseSkelaton

      const isAnsweredArr = responseSkelaton.map(arr => {
        if (arr !== null) {
          return !arr.every(el => el === null)
        }
      })

      if (isAnsweredArr.every(answer => answer === true)) {
        this.quizCompleted = true
      } else {
        this.quizCompleted = false
      }
    },
    getBtnKey (index) {
      return index + (Math.random() + 1).toString(36).substring(7)
    }
  }
}
</script>

<style lang="scss">
.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.popup-container {
  width: 100vw;
  height: 100vh;
  background-color: #ACACAC;
  transition: all 0.3s ease;
}

.popup__title {
  font-size: 2.6vw;
  margin: 0 0 10vh;
}

.popup-default-button {
  float: right;
}

.popup-enter {
  opacity: 0;
}

.popup-leave-active {
  opacity: 0;
}

.popup-enter .popup-container,
.popup-leave-active .popup-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.popup__label {
  position: relative;
  display: block;
  text-align: left;
  font-size: 1.2vw;
  padding-left: 120px;

  input:checked ~ .checkmark {
    background-color: transparent;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border: none;
    border-radius: 100px;
    background-color: #000;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}

.popup__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw 1vw;
}

.popup__option {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.checkmark {
  position: absolute;
  top: -10px;
  left: 0;
  width: 2vw;
  background-color: transparent;
  border: 0.1vw solid #000;
  border-radius: 100px;

  &::before {
    content: "";
    display: block;
    margin-bottom: 100%;
  }
}
</style>
