<template>
	<main class="quiz">
		<div class="quiz__sidebar">
			<h3 class="quiz__title">
Готовий прийняти виклик?
			</h3>
		</div>
		<div class="quiz__grid">
		<QuizBlock 
		  v-for="(question, index) of currentQuizQuestions"
			:key="getQuizBlockKey(index)"
			:question="question"
			:index="index"
			@open-popup="openPopup(question, index)"
		/>
		</div>
		<QuestionPopup
			v-if="showPopup"
			@close="showPopup = false"
			:popupData="popupData"
			:questionIndex="questionIndex"
		/>
	</main>
</template>

<script>
import QuestionPopup from '@/views/QuestionPopup'
import QuizBlock from '@/components/QuizBlock'
import { mapActions } from 'vuex'

export default {
  name: 'quiz',
  components: {
    QuestionPopup,
    QuizBlock
  },
  data () {
    return {
      showPopup: false,
      popupData: null,
      questionIndex: null
    }
  },
  mounted () {
    this.userAnswers = this.$store.getters.userQuestionResponse(this.questionIndex)
  },
  computed: {
    currentQuizQuestions () {
      return this.$store.getters.newQuiz[this.currentQuizIndex].questions
    },
    userResponseSkelaton () {
      return this.$store.getters.userResponseSkelaton
    },
    currentQuizIndex () {
      return this.$store.getters.quizIndex
    },
    userResponseArr: {
      get () {
        return this.$store.getters.userResponseSkelaton
      }
    }
  },
  methods: {
    ...mapActions(['setResponseSkelaton']),
    openPopup (data, questionIndex) {
      this.questionIndex = questionIndex
      this.popupData = data
      this.showPopup = true
    },
    getQuizBlockKey (index) {
      return index + (Math.random() + 1).toString(36).substring(7)
    }
  },
  watch: {
    showPopup () {
      this.$forceUpdate()
    }
  }
}
</script>

<style lang="scss">

.quiz {
	display: flex;
	height: 100%;

	&__sidebar {
		width: 25%;
		padding-top: 5%;
	}

	&__grid {
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 75%;
		display: grid;
		grid-template: repeat(11, 1fr) / repeat(10, 1fr);
		grid-gap: 0.3vw;
		background-color: transparent;
	}

	&__block:nth-child(1) {
		grid-row: 1 / span 5;
		grid-column: 1 / span 3;
	}

	&__block:nth-child(2) {
		grid-row: 1 / span 5;
		grid-column: 4 / span 13;
	}

	&__block:nth-child(3) {
		grid-row: 6 / span 6;
		grid-column: 1 / span 3;
	}
	
	&__block:nth-child(4) {
		grid-row: 6 / span 6;
		grid-column: 4 / span 3;
		background-color: #0062FF;
	}

	&__block:nth-child(5) {
		grid-row: 6 / span 3;
		grid-column: 7 / span 10;
		background-color: #0062FF;
	}


	&__block:nth-child(6) {
		grid-row: 9 / span 3;
		grid-column: 7 / span 10;
		background-color: #fff;
	}
}

</style>
