<template>
  <main class="result">
    <div class="result__content">
      <h3 class="result__title">Твій результат</h3>
      <div class="result__inner">
        <div class="result__goal-block">
          <div class="result__goal">{{goal}}/6</div>
          <div class="result__grid">
            <div
              v-for="(isRight, index) of this.getCorrectAnswersArr"
              :key="index"
              :class="{'correct' : isRight}"
              class="result__block"
            >
            </div>
          </div>
        </div>
        <div class="result__content-block">
          <h4 class="result__content-title">{{this.resultInfo[resultInfoIndex].title}}</h4>
          <p class="result__content-text">
            {{this.resultInfo[resultInfoIndex].text}}
          </p>
          <router-link to="/" class="btn about__btn">На початок</router-link>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'result-page',
  data () {
    return {
      goal: null,
      correctAnswersArr: this.getCorrectAnswersArr,
      resultInfoIndex: 0,
      resultInfo: [
        {
          title: 'Ну, нічого!',
          text: 'Просто нам є ще що тобі розповісти про Uklon. Проте, не засмучуйся — і бери промокод на поїздку в модератора зони tech/uklon'
        },
        {
          title: 'Воу, час хантити тебе в Uklon!',
          text: 'Відсвяткуй свій результат промокодом на поїздку. Він у модератора зони tech/uklon'
        },
        {
          title: 'Ого, нот бед! ',
          text: `Щось ти забагато знаєш, не в Uklon раптом працюєш?
          <br/>
          Відсвяткуй свій результат промокодом на поїздку. Він у модератора зони tech/uklon`
        }
      ]
    }
  },
  computed: {
    ...mapState(),
    currentQuizQuestionsLength () {
      return this.$store.getters.newQuiz[0].questions.length
    },
    quizResult () {
      return this.$store.getters.responseSkelaton
    },
    getCorrectAnswersArr () {
      const answersInBoolean = []
      const userAnswers = this.$store.getters.responseSkelaton
      const correctAnswers = this.$store.getters.correctAnswersArr

      for (let i = 0; i < correctAnswers.length; i++) {
        let correctAnswersInQuestionLength = correctAnswers[i].length
        let userCorrectAnswersByQuestion = userAnswers[i].filter(answer => answer === true).length

        if (correctAnswersInQuestionLength === userCorrectAnswersByQuestion) {
          answersInBoolean.push(true)
        } else {
          answersInBoolean.push(false)
        }
      }

      this.goal = answersInBoolean.filter(isRight => isRight === true).length

      if (this.goal <= 2) {
        this.resultInfoIndex = 0
      } else if (this.goal <= 4) {
        this.resultInfoIndex = 1
      } else if (this.goal <= 6) {
        this.resultInfoIndex = 2
      }

      return answersInBoolean
    }
  }

}
</script>

<style lang="scss">

.result {
  padding: 3vw 0;
  color: #fff;

  &__title {
    font-size: 3.2vw;
  }

  &__inner {
    display: flex;
  }

  &__goal-block {
    width: 40%;
  }

  &__goal {
    font-size: 11vw;
  }

  &__goal-title {
    font-size: 10vw;
    margin: 1vw 0 2vw;
  }

  &__content-block {
    width: 60%;
    padding-top: 5%;
    padding-left: 15%;
  }

  &__content-title {
    font-size: 3.2vw;
    width: 80%;
  }

  &__content-text {
    font-size: 1.8vw;
    padding: 2vw 0 30%;
  }

  &__grid {
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template: repeat(11, 1fr) / repeat(10, 1fr);
    grid-gap: 0.3vw;
    background-color: transparent;
  }

  &__block {
    background-color: #ea5030;
  }

  &__block.correct {
    background-color: #0062FF;
  }

  &__block:nth-child(1) {
    grid-row: 1 / span 5;
    grid-column: 1 / span 3;
  }

  &__block:nth-child(2) {
    grid-row: 1 / span 5;
    grid-column: 4 / span 13;
  }

  &__block:nth-child(3) {
    grid-row: 6 / span 6;
    grid-column: 1 / span 3;
  }

  &__block:nth-child(4) {
    grid-row: 6 / span 6;
    grid-column: 4 / span 3;
  }

  &__block:nth-child(5) {
    grid-row: 6 / span 3;
    grid-column: 7 / span 10;
  }

  &__block:nth-child(6) {
    grid-row: 9 / span 3;
    grid-column: 7 / span 10;
  }
}

</style>
