<template>
  <main class="rules">
    <div class="rules__content">
      <h3 class="rules__title">Правила тесту такі:!</h3>
      <ol class="rules__list">
        <li class="rules__item">
          <p class="rules__text">
            Після того, як натиснеш кнопку «Далі», перед тобою з’явиться 6
            карток. Кожна картка — одне питання, яке відповідає діяльності
            tech/uklon та продуктам команди: Rider App та Driver App;
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__text">
            Обирай картки в будь-якому порядку. Але для того, щоб пройти тест —
            потрібно виконати завдання у всіх картках;
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__text">
            Аби відповідь на питання була зарахована — потрібно обрати всі
            правильні варіанти;
          </p>
        </li>
        <li class="rules__item">
          <p class="rules__text">Ну, а в кінці — подарунок!</p>
        </li>
      </ol>
    </div>
    <router-link to="/quiz" class="btn rules__btn"> Далі </router-link>
  </main>
</template>

<script>
export default {
  name: 'rules'
}
</script>

<style lang="scss">
.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 100%;
  padding: 10vh 0 5vh;
}

.rules__content {
  text-align: center;
}

.rules__title {
  font-size: 3vw;
  margin-bottom: 8vh;
}

.rules__list {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  text-align: left;
  grid-gap: 3vw 0;
  list-style: none;
  counter-reset: custom-counter;

  li {
    counter-increment: custom-counter;
    margin: 0.25rem;
  }

  li::before {
    position: relative;
    top: 70px;
    content: counter(custom-counter);
    width: 2rem;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 20px;
    display: inline-block;
    line-height: 2rem;
    font-size: 1vw;
    color: white;
    background-color: transparent;
    text-align: center;
  }
}

.rules__text {
  font-size: 1.5vw;
  width: 77%;
  margin: 0 8%;
}

</style>
