<template>
  <div id="app" @click="revertToIntro">
    <div class="wrapper">
      <header class="header">
        <img class="logo" src="./assets/logo.svg" alt="logo">
      </header>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import '../renderer/assets/styles/index.scss'

  export default {
    name: 'uklon-quiz-app',
    data () {
      return {
        timer: null
      }
    },
    methods: {
      revertToIntro () {
        clearTimeout(this.timer)
        this.timer = setTimeout(() => {
          this.$router.push({path: '/'})
        }, 120000)
      }
    }
  }
</script>

<style>
  /* CSS */
</style>
